<div class="tabs">
  <div
    *ngFor="let key of tabKeys"
    (click)="tabKey === key ? toggle() : (tabKey = key)"
    [class.selected]="tabKey === key"
  >
    {{ key }}
  </div>
</div>
<div class="contents">
  <div *ngIf="tabKey === 'columns'" class="content content__columns">
    <table>
      <tr *ngFor="let column of resourceTable.columns">
        <td>
          <mat-checkbox
            (change)="columnsChange.emit()"
            [(ngModel)]="column.include"
          >
            {{ column.path }}
          </mat-checkbox>
        </td>
        <td>
          <input
            (change)="columnsChange.emit()"
            (ngModelChange)="columnFilter.invalid || (column.filter = $event)"
            [ngModel]="column.filter"
            [title]="columnFilter.errors?.['SyntaxError'] ?? ''"
            #columnFilter="ngModel"
            pattern="[^,]*"
            placeholder="/(?:)/"
            type="text"
            validateRegExp
          />
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="tabKey === 'sort'" class="content content__sort">
    <div class="cdk-drop-list-group" cdkDropListGroup>
      <div
        (cdkDropListDropped)="onPathDropped($event)"
        [cdkDropListData]="resourceTable.primaryPaths"
        cdkDropList
      >
        <div
          *ngFor="let primaryPath of resourceTable.primaryPaths"
          [cdkDragData]="primaryPath"
          cdkDrag
        >
          {{ primaryPath }}
        </div>
      </div>
      <div
        (cdkDropListDropped)="onPathDropped($event)"
        [cdkDropListData]="resourceTable.secondaryPaths"
        cdkDropList
      >
        <div
          *ngFor="let secondaryPath of resourceTable.secondaryPaths"
          [cdkDragData]="secondaryPath"
          cdkDrag
        >
          {{ secondaryPath }}
        </div>
      </div>
    </div>
  </div>
</div>
