$background: var(--primary-color-1);
$highlightBackground: rgb(0 0 0 / 5%);
$padding: 0.5em;

:host {
    > .tabs {
        display: flex;

        > * {
            cursor: pointer;
            padding: $padding;
            text-transform: capitalize;

            &::after {
                content: "✖";
                visibility: hidden;
            }

            &.selected {
                background-color: $background;
                order: -1;

                &:hover::after {
                    visibility: unset;
                }
            }

            &:hover {
                box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
            }
        }
    }

    > .contents {
        background-color: $background;

        > .content {
            box-shadow: 0 0 0.5em rgb(0 0 0 / 30%) inset;
            display: inline-flex;
            position: relative;
            z-index: 2;

            &__columns {
                > table {
                    border-collapse: collapse;

                    > tr {
                        &:hover {
                            background-color: $highlightBackground;
                        }

                        > td {
                            > input[type="text"] {
                                background: inherit;
                                border: none;
                                color: inherit;
                                font: inherit;
                                padding: $padding;

                                &.ng-invalid {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            &__sort {
                > .cdk-drop-list-group {
                    display: flex;

                    > .cdk-drop-list {
                        &::before {
                            content: "secondary";
                            display: block;
                            font-weight: bold;
                            padding: $padding;
                            text-align: center;
                            text-transform: capitalize;
                        }

                        &:first-child {
                            counter-reset: index;

                            &::before {
                                content: "primary";
                            }

                            > .cdk-drag {
                                counter-increment: index;

                                &::before {
                                    color: purple;
                                    content: "#" counter(index);
                                }
                            }
                        }

                        &.cdk-drop-list-dragging {
                            background-color: $highlightBackground;

                            &:first-child > .cdk-drag::before {
                                visibility: hidden;
                            }
                        }

                        &:not(.cdk-drop-list-dragging) > .cdk-drag:hover {
                            background-color: $highlightBackground;
                        }

                        > .cdk-drag {
                            padding: $padding;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}
