$background: var(--primary-color-1);
$boxShadow: 0 0 0.6em rgb(0 0 0 / 30%);
$cellPadding: 0.5em;
$highlightBackground3: rgb(0 0 0 / 3%);
$highlightBackground5: rgb(0 0 0 / 5%);

:host > table {
    background-color: $background;
    border-collapse: collapse;
    box-shadow: $boxShadow;
    position: absolute;
    user-select: none;

    &.hidden {
        visibility: hidden;
    }

    > tr.tab {
        > th.tab-handle {
            padding: $cellPadding;
            text-transform: capitalize;
        }

        > td.tab-content {
            background-color: $background;
            box-shadow: $boxShadow;
            position: absolute;
            top: 0;

            &__columns {
                > form > table {
                    border-collapse: collapse;

                    > tr {
                        &:focus-within,
                        &:hover {
                            background-color: $highlightBackground5;
                        }

                        > td {
                            > * {
                                padding: $cellPadding;
                            }

                            > div {
                                display: flex;
                            }

                            > label {
                                display: block;
                                text-transform: uppercase;
                            }

                            > input[type="text"] {
                                background: inherit;
                                border: none;
                                color: inherit;
                                font: inherit;

                                &.ng-invalid {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            &__sort {
                > table {
                    border-collapse: collapse;

                    > tbody.cdk-drop-list {
                        &:first-child {
                            counter-reset: index;

                            > tr.cdk-drag {
                                counter-increment: index;

                                > td:nth-child(2)::before {
                                    color: purple;
                                    content: "#" counter(index);
                                }
                            }
                        }

                        &.cdk-drop-list-dragging {
                            background-color: $highlightBackground5;

                            &:first-child > tr.cdk-drag > td:nth-child(2)::before {
                                visibility: hidden;
                            }
                        }

                        &:not(.cdk-drop-list-dragging) > tr.cdk-drag:hover {
                            background-color: $highlightBackground5;
                        }

                        > tr {
                            &.cdk-drag {
                                text-transform: uppercase;
                            }

                            > th,
                            > td {
                                padding: $cellPadding;
                            }
                        }
                    }
                }
            }
        }

        &.selected {
            > th.tab-handle {
                background-color: $highlightBackground3;
            }
        }

        &:not(.selected) {
            > th.tab-handle:hover {
                background-color: $highlightBackground5;
                cursor: pointer;
            }

            > td.tab-content {
                display: none;
            }
        }
    }
}
