<mat-tab-group>
  <mat-tab label="Columns">
    <div *ngFor="let column of resourceTable.columns">
      <mat-checkbox
        (change)="columnsChange.emit()"
        [(ngModel)]="column.include"
      ></mat-checkbox>
      <mat-form-field>
        <input
          (change)="columnsChange.emit()"
          (ngModelChange)="columnFilter.invalid || (column.filter = $event)"
          [ngModel]="column.filter"
          #columnFilter="ngModel"
          matInput
          pattern="[^,]*"
          placeholder="/(?:)/"
          type="text"
          validateRegExp
        />
        <mat-icon matSuffix>filter_alt</mat-icon>
        <mat-hint>{{ column.path }}</mat-hint>
        <mat-error *ngIf="columnFilter.errors?.['syntax'] as syntaxError">
          {{ syntaxError }}
        </mat-error>
        <mat-error *ngIf="columnFilter.errors?.['pattern'] as patternError">
          Required pattern: {{ patternError.requiredPattern }}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>
