$backgroundColor: var(--primary-color-1);
$boxShadow: 0 0 0.6em rgb(0 0 0 / 30%);
$cellPadding: 0.5em;
$highlightBackgroundColor: rgb(0 0 0 / 5%);

:host {
    > .context-menu-mount {
        background-color: $backgroundColor;
        box-shadow: $boxShadow;
        position: absolute;
    }

    &:not(:focus-within) > .context-menu-mount > table.context-menu {
        display: none;
    }

    > .context-menu-mount > table.context-menu {
        border-collapse: collapse;

        > tr.context-menu-item {
            &:hover {
                background-color: $highlightBackgroundColor;
            }

            > th.context-menu-handle {
                padding: $cellPadding;
                user-select: none;
            }
        }

        &:not(:hover) > tr.context-menu-item:not(:focus-within) > td.context-menu-mount {
            display: none;
        }

        > tr.context-menu-item > td.context-menu-mount {
            position: relative;

            > .context-menu {
                background-color: $backgroundColor;
                box-shadow: $boxShadow;
                position: absolute;
                top: 0;

                &__columns > table {
                    border-collapse: collapse;

                    > tr {
                        &:hover {
                            background-color: $highlightBackgroundColor;
                        }

                        > th,
                        > td {
                            > * {
                                padding: $cellPadding;
                            }

                            > label {
                                display: block;
                                text-transform: uppercase;
                            }

                            > input {
                                background: inherit;
                                border: none;
                                color: inherit;
                                font: inherit;

                                &.ng-invalid {
                                    color: red;
                                }
                            }
                        }
                    }
                }

                &__sort > table {
                    border-collapse: collapse;

                    > tbody.cdk-drop-list {
                        &:first-of-type {
                            counter-reset: index;

                            > tr.cdk-drag {
                                counter-increment: index;

                                > td:first-of-type::before {
                                    color: purple;
                                    content: "#" counter(index);
                                }
                            }
                        }

                        &.cdk-drop-list-dragging {
                            background-color: $highlightBackgroundColor;

                            &:first-of-type > tr.cdk-drag {
                                > td:first-of-type::before {
                                    visibility: hidden;
                                }
                            }
                        }

                        &:not(.cdk-drop-list-dragging) {
                            > tr.cdk-drag:hover {
                                background-color: $highlightBackgroundColor;
                            }
                        }

                        > tr {
                            &.cdk-drag {
                                text-transform: uppercase;
                            }

                            > th,
                            > td {
                                padding: $cellPadding;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
