<div class="context-menu-mount" tabindex="0">
  <table class="context-menu">
    <tr class="context-menu-item">
      <th
        #drilldownHandle
        class="context-menu-handle"
        data-drilldown-key="columns"
      >
        Columns
      </th>
      <td *ngIf="drilldownKey === 'columns'" class="context-menu-mount">
        <form
          (change)="columnsChange.emit()"
          class="context-menu context-menu__columns"
        >
          <table>
            <tr *ngFor="let column of resourceTable.columns; index as i">
              <td>
                <div>
                  <input
                    [(ngModel)]="column.include"
                    [name]="columnToggle.id"
                    #columnToggle
                    id="column-toggle-{{ uid }}-{{ i }}"
                    type="checkbox"
                  />
                </div>
              </td>
              <th>
                <label [for]="columnToggle.id">{{ column.path }}</label>
              </th>
              <td>
                <input
                  (ngModelChange)="
                    columnFilter.invalid || (column.filter = $event)
                  "
                  [ngModel]="column.filter"
                  [title]="columnFilter.errors?.['SyntaxError'] ?? ''"
                  #columnFilter="ngModel"
                  name="column-filter-{{ uid }}-{{ i }}"
                  pattern="[^,]*"
                  placeholder="/(?:)/"
                  type="text"
                  validateRegExp
                />
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
    <tr class="context-menu-item">
      <th
        #drilldownHandle
        class="context-menu-handle"
        data-drilldown-key="sort"
      >
        Sort
      </th>
      <td *ngIf="drilldownKey === 'sort'" class="context-menu-mount">
        <div class="context-menu context-menu__sort">
          <table cdkDropListGroup tabindex="0">
            <tbody
              (cdkDropListDropped)="onPathDropped($event)"
              [cdkDropListData]="resourceTable.primaryPaths"
              cdkDropList
            >
              <tr>
                <th colspan="2">Primary</th>
              </tr>
              <tr
                *ngFor="let primaryPath of resourceTable.primaryPaths"
                [cdkDragData]="primaryPath"
                cdkDrag
              >
                <td></td>
                <td>{{ primaryPath }}</td>
              </tr>
            </tbody>
            <tbody
              (cdkDropListDropped)="onPathDropped($event)"
              [cdkDropListData]="resourceTable.secondaryPaths"
              cdkDropList
            >
              <tr>
                <th colspan="2">Secondary</th>
              </tr>
              <tr
                *ngFor="let secondaryPath of resourceTable.secondaryPaths"
                [cdkDragData]="secondaryPath"
                cdkDrag
              >
                <td></td>
                <td>{{ secondaryPath }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
