$boxShadow: 0 0 1.5vmin rgb(0 0 0 / 30%);
$padding: 0.5em;

@mixin backgroundStyle() {
    background-color: hsl(var(--primary-color-1-h), var(--primary-color-1-s), var(--background-lightness, 97%));

    &:hover {
        --background-lightness: 93%;
    }
}

:host > table {
    border-collapse: collapse;
    box-shadow: $boxShadow;
    position: absolute;

    :not(:focus-within) > & {
        display: none;
    }

    &:not(:hover) > tr > td {
        display: none;
    }

    > tr > th {
        @include backgroundStyle();
        padding: $padding;
    }

    > tr > td {
        position: relative;

        > * {
            box-shadow: $boxShadow;
            position: absolute;
            top: 0;
        }

        > form > table {
            border-collapse: collapse;

            > tr {
                @include backgroundStyle();

                > td > * {
                    padding: $padding;
                }

                > td > label {
                    display: block;
                    text-transform: uppercase;
                }

                > td > input {
                    background: inherit;
                    border: none;
                    color: inherit;
                    font: inherit;

                    &.ng-invalid {
                        color: red;
                    }
                }
            }
        }

        > .primary-paths > .primary-path {
            @include backgroundStyle();
            cursor: grab;
            list-style-position: inside;
            min-width: max-content;
            padding: $padding;
            text-transform: uppercase;
        }
    }
}
