<div class="context-menu-mount" tabindex="0">
  <table class="context-menu">
    <tr #item class="context-menu-item" data-key="columns">
      <th class="context-menu-handle">Columns</th>
      <td *ngIf="selectedKey === 'columns'" class="context-menu-mount">
        <form
          (change)="columnsChange.emit()"
          class="context-menu context-menu__columns"
        >
          <table>
            <tr *ngFor="let column of resourceTable.columns; index as i">
              <td>
                <div>
                  <input [checked]="column.include" disabled type="checkbox" />
                </div>
              </td>
              <td>
                <input
                  [(ngModel)]="column.include"
                  [name]="columnToggle.id"
                  #columnToggle
                  hidden
                  id="column-toggle-{{ uid }}-{{ i }}"
                  type="checkbox"
                />
                <label [for]="columnToggle.id" tabindex="0">
                  {{ column.path }}
                </label>
              </td>
              <td>
                <input
                  (ngModelChange)="
                    columnFilter.invalid || (column.filter = $event)
                  "
                  [ngModel]="column.filter"
                  [title]="columnFilter.errors?.['SyntaxError'] ?? ''"
                  #columnFilter="ngModel"
                  name="column-filter-{{ uid }}-{{ i }}"
                  pattern="[^,]*"
                  placeholder="/(?:)/"
                  type="text"
                  validateRegExp
                />
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
    <tr #item class="context-menu-item" data-key="sort">
      <th class="context-menu-handle">Sort</th>
      <td *ngIf="selectedKey === 'sort'" class="context-menu-mount">
        <div class="context-menu context-menu__sort">
          <table #cdkDropListGroup cdkDropListGroup tabindex="-1">
            <tbody
              (cdkDropListDropped)="onPathDropped($event, cdkDropListGroup)"
              [cdkDropListData]="resourceTable.primaryPaths"
              cdkDropList
            >
              <tr>
                <th colspan="2">Primary</th>
              </tr>
              <tr
                *ngFor="let primaryPath of resourceTable.primaryPaths"
                [cdkDragData]="primaryPath"
                cdkDrag
              >
                <td>{{ primaryPath }}</td>
                <td></td>
              </tr>
            </tbody>
            <tbody
              (cdkDropListDropped)="onPathDropped($event, cdkDropListGroup)"
              [cdkDropListData]="resourceTable.secondaryPaths"
              cdkDropList
            >
              <tr>
                <th colspan="2">Secondary</th>
              </tr>
              <tr
                *ngFor="let secondaryPath of resourceTable.secondaryPaths"
                [cdkDragData]="secondaryPath"
                cdkDrag
              >
                <td colspan="2">{{ secondaryPath }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
