<app-resource-table-settings
  (columnsChange)="updateResourceTableColumns()"
  (pathsChange)="syncPaths()"
  [resourceTable]="resourceTable"
  #resourceTableSettingsComponent
></app-resource-table-settings>
<table>
  <thead>
    <tr>
      <th class="sticky" (click)="resourceTableSettingsComponent.toggle()">
        <mat-icon>
          unfold{{
            resourceTableSettingsComponent.isVisible ? "_less" : "_more"
          }}
        </mat-icon>
      </th>
      <th
        *ngFor="let column of resourceTable.columns | filter : 'include'"
        (click)="togglePath(column)"
        [attr.data-index]="resourceTable.primaryPaths.indexOf(column.path) + 1"
        [class.descending]="column.order === 'desc'"
        [class.primary]="column.sortIndex != null"
      >
        {{ column.path }}
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let rowsPage of resourceTable.rowsPages">
    <tr
      *ngIf="rowsPage.deferred && isConnected(rowsPage)"
      (intersection)="fetchResourceTableRows(rowsPage.pageToken)"
      observeIntersection
    >
      <td class="placeholder sticky"></td>
    </tr>
    <tr
      *ngFor="let row of rowsPage.items"
      (viewInit)="$event.scrollIntoView({ block: 'start' })"
      [viewInitIgnored]="row.resource.id !== resourceTable.params.resourceId"
      observeViewInit
    >
      <th class="sticky">{{ row.index + 1 }}</th>
      <td
        *ngFor="let field of row.fields"
        [class.nullish]="field.value == null"
        [ngSwitch]="field.type"
      >
        <mat-checkbox
          *ngSwitchCase="'boolean'"
          (change)="patchResourceItem(field)"
          [(ngModel)]="field.value"
        ></mat-checkbox>
        <input
          *ngSwitchCase="'number'"
          (change)="patchResourceItem(field)"
          [(ngModel)]="field.value"
          type="number"
        />
        <input
          *ngSwitchCase="'string'"
          (change)="patchResourceItem(field)"
          [(ngModel)]="field.value"
          type="text"
        />
      </td>
    </tr>
  </tbody>
</table>
