<app-resource-table-settings
  (columnsChange)="updateResourceTableColumns()"
  (pathsChange)="syncPaths()"
  [resourceTable]="resourceTable"
  #resourceTableSettingsComponent
></app-resource-table-settings>
<button mat-icon-button (click)="resourceTableSettingsComponent.toggle()">
  <mat-icon>
    unfold{{ resourceTableSettingsComponent.isVisible ? "_less" : "_more" }}
  </mat-icon>
</button>
<table [dataSource]="dataSource" cdkDropListGroup mat-table>
  <ng-container *ngFor="let path of paths" matColumnDef="{{ path }}">
    <th *matHeaderCellDef mat-header-cell>{{ path }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.fields[path].value }}</td>
  </ng-container>

  <ng-container matColumnDef="placeholder">
    <td
      *matCellDef="let placeholder"
      (intersection)="fetchResourceTableRows(placeholder.pageToken)"
      [colSpan]="paths?.length"
      mat-cell
      observeIntersection
    >
      <mat-icon>more_horiz</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="paths" mat-header-row></tr>

  <tr *matRowDef="let row; columns: paths" mat-row></tr>
  <tr
    *matRowDef="let row; columns: ['placeholder']; when: isPlaceholder"
    mat-row
  ></tr>
</table>
