table::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

td {
    &.mat-column-select:not(:hover) {
        mat-checkbox:not(.mat-mdc-checkbox-checked) {
            visibility: hidden;
        }
    }

    &.mat-column-index {
        text-align: center;
    }

    &.mat-column-placeholder {
        text-align: right;
    }
}
