:host {
    display: inline-flex;
    width: 100%;

    > form {
        flex-grow: 1;

        > label {
            display: flex;
            justify-content: center;
            padding: var(--padding, 0.5em);

            > .caption {
                margin: 0 auto;
                padding-left: 1ch;
            }
        }
    }
}
