body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    margin: 0;
}

mat-error,
mat-hint {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

mat-paginator {
    bottom: 0;
    position: sticky;
    z-index: 10;

    .mat-mdc-paginator-range-actions {
        display: none !important;
    }
}
